body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f7f7f7, #c8c8c8);
    margin: 0;
}

header {
    background: linear-gradient(to bottom, #0077b6, #00557e);
    text-align: center;
    padding: 20px 0;
    color: #fff;
    position: relative;
    /* display: flex; */
}
.head{
    /* display: flex; */
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: changeColor 4s linear infinite;
}

@keyframes changeColor {
    0% {
        background: linear-gradient(to bottom, #ff5500, #ff8800);
    }
    25% {
        background: linear-gradient(to bottom, #ff8800, #ffaa00);
    }
    50% {
        background: linear-gradient(to bottom, #ffaa00, #ffdd00);
    }
    75% {
        background: linear-gradient(to bottom, #ffdd00, #ffee00);
    }
    100% {
        background: linear-gradient(to bottom, #ffee00, #ff5500);
    }
}

h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    display:block ;
    align-items: center;
    padding: 20px 0;
}

.image-container {
    flex: 1;
    margin-right: 20px;
    text-align: center;
}

.image-container img {
    max-width: 10%;
    height: auto;
    display: block;
    border-radius: 5px;
    animation: rotateImage 3s linear infinite;
}

@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h2 {

    color: #0077b6;
    font-size: 1.5rem;
}

footer {
    background: linear-gradient(to bottom, #0077b6, #00557e);
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.links {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #0077b6;
    transition: color 0.3s;
}

.link:hover {
    color: #ff0000;
}
